html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.container{
	max-width: 1200px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 30px;
}
h2 {
    font-size: 24px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 12px;
}

p {
	font-size: 14px;
	line-height: 21px;
    padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}


header h1 {
	width: 50%;
	display: flex;
  padding-right: 26px;
	justify-content: flex-start;
  flex-flow: row;
}
header h1 span {
	color: #77a466;
}

header nav {
	padding: 46px 0;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;

}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.8em;
	padding: 0 4px;
	display: inline;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: wrap;
}

.main-image {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}
.main-title h3 {
	width: 100%;
  text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	display: flex;
  justify-content: flex-start;
  align-items: flex-start;
	flex-flow: wrap;
  width: 33%;
  line-height: 1.5em;
  font-size: 1em;
  height: 300px;
	border-top: 1px solid #eee;
}

.section-one h4 {

}

.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;

}

.section-two h4,
.section-three h4 {
	padding: 0 20px;
}

.menu {
	list-style: none;
  height: 70%;
	padding: 0;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-flow: wrap;
}
.menu li {
	padding: 10px 0;
	color:#77a466;


}

.reviews {
	height: 70%;
	color: #333;
	font-size: 1em;
	line-height: 21px;
}

.address {
	height: 70%;
	font-size: 1em;
	line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
	border-top: 3px solid #eee;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 14px;
}
